@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Bebas+Neue&family=PT+Sans+Narrow&display=swap");
/*misc*/
/*variables*/
:root {
  /*paleta de colores*/
  --primary:#c3c48dff;
  --colorsecundario:  hsla(125, 80%, 90%, 1);
  --colortres:darkgoldenrod;
  --alternativo: black;
  --letras:white;
  --barracolor:#d1efb5;
  /*espacios*/
  --espacio: 45px;
  --espacio2: 35px;
  --espacio_3:25px;
  /*fuentes*/
  --font-family-titulos: 'Barlow Condensed', sans-serif;
  --font-family-textos: 'Bebas Neue', cursive;
  --font-family-baes: 'PT Sans Narrow', sans-serif;
  /*font-sizes*/
  --texto-xxl: 50px;
  --texto--xl: 35px;
  --texto-l: 20px;
  --texto-base:15px; }

/*proyexto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family-textos);
  background-color: var(--primary); }

img {
  width: 250px; }

ul {
  list-style-type: none;
  font-size: 20px; }

a {
  text-decoration: none;
  font-size: 2em; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

footer {
  background-color: var(--barracolor);
  font-size: var(--texto-l);
  font-family: var(--font-family-textos); }

.footer-div {
  flex-wrap: wrap;
  margin-top: 1200px; }

/*partials*/
/*heder*/
.main_heder {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: var(--font-family-textos);
  flex-wrap: wrap;
  font-size: var(--texto-xxl); }
  .main_heder .main_nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--barracolor); }
  .main_heder .main-ul {
    display: flex;
    justify-content: center;
    gap: 2rem; }
  .main_heder .main-li {
    color: var(--colortres);
    padding: 15px;
    font-size: var(--texto--xl);
    font-weight: bold; }
    .main_heder .main-li .main-li:hover {
      background-color: var(--alternativo);
      color: var(--letras); }

/*footer*/
footer {
  background-color: var(--barracolor);
  font-size: var(--texto-l);
  font-family: var(--font-family-textos); }
  footer .footer-div {
    flex-wrap: wrap;
    margin-top: 1200px; }

/*views*/
/*cards*/
.card-seccion {
  margin: 100px 0px; }
  .card-seccion .card_titulo {
    font-size: var(--texto-xxl);
    color: var(--colortres); }
    .card-seccion .card_titulo .card_titulo:hover {
      background-color: var(--alternativo);
      color: var(--letras); }
  .card-seccion .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem; }
  .card-seccion .card_img {
    flex: 1 1 1 180px;
    margin: 25px; }
    .card-seccion .card_img .card_img:hover {
      transition: transform .2s;
      transform: scale(3); }
  .card-seccion .card_img-tienda {
    flex: 1 1 1 180px;
    margin: 25px;
    justify-content: stretch; }
  .card-seccion .card_img-tienda {
    flex: 1 1 1 180px;
    margin: 25px;
    justify-content: stretch; }
    .card-seccion .card_img-tienda .card_img-tienda:hover {
      transition: transform .2s;
      transform: scale(2.5); }

/*seccion cura mate*/
.cura-mate-titulo {
  display: flex;
  font-size: var(--texto-xxl);
  justify-content: space-between;
  color: var(--colortres); }

.cura-mate-div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 100px 0px;
  grid-template-columns: 20% auto 12%; }
  .cura-mate-div .cura-mate-subtitulo {
    font-size: var(--texto--xl);
    color: var(--colortres);
    margin: 30px; }
  .cura-mate-div .cura-mate-ol {
    display: grid;
    grid-column: span 10;
    font-size: var(--texto--xl);
    gap: 2rem; }
