/*mateando*/

.titulo__mateando{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--texto-xxl);
    font-family: var (font-family-textos);
    margin-top: 25rem;
}

.imagen_papa{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.img_papa{
    width: 25vw;
}